<h1>Panel Builder</h1>

<p>Panel Builder creates a directive for generating bootstrap 'Panels'. Utilizes ng-include for passing the contents of the panel div into the new block.</p>

<br>

<div class="row">
	<div class="col-sm-6">
		<panel name="Custom Panel Titles">
		<h2>Put anything inside a panel</h2>
	</panel>
	</div>
	<div class="col-sm-6">
		<panel name="Simple">
		<h3>Stack 'em, put them in boostrap grids, or just put them in the page</h3>
	</panel>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<panel name="Custom Panel Titles">
		<h2>Full width, that works as well.</h2>
	</panel>
	</div>
</div>