<h1>Sample User Data</h1>

<p>We've included a set of sample data to play with. This data is 100% fabricated, and intended for the sole purpose of demoing data management directives.</p>

<br>

<div class="container-fluid">
  <table class="table table-striped">
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Email</th>
      <th>City</th>
      <th>PIN</th>
      <th>Location</th>
      <th>Credit</th>
      <th>Date Created</th>
      <th>Date Updated</th>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.city}}</td>
        <td>{{user.pin}}</td>
        <td>{{user.location}}</td>
        <td>{{user.credit | currency}}</td>
        <td>{{user.created | date:'dd/MM/yyyy HH:mm'}}</td>
        <td>{{user.updated | date:'dd/MM/yyyy HH:mm'}}</td>
    </tr>
  </table>
</div>